<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>
      Pokedex App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">

<!-- Searchbar with a placeholder -->
<ion-searchbar placeholder="Buscar Pokémon" color="medium"></ion-searchbar>

<!-- List of Sliding Items -->
  <ion-item-sliding>
    <ion-item color="dark">

      <ion-chip color="light" slot="start">
        <ion-label color="grass">001</ion-label>
      </ion-chip>

     
      <ion-label>
        <div>
          <h2>Bulbasaur</h2>
          <ion-badge color="grass">Grass</ion-badge>
          <ion-badge color="tertiary">Poison</ion-badge>
        </div>
      </ion-label>



      <ion-thumbnail slot="end">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/001.png">
      </ion-thumbnail>

    </ion-item>
    <ion-item-options side="end">
      <ion-item-option color="danger">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>


  <!--Charmander-->
  <ion-item-sliding>
    <ion-item color="dark">

      <ion-chip color="light" slot="start">
        <ion-label color="fire">004</ion-label>
      </ion-chip>

     
      <ion-label>
        <div>
          <h2>Charmander</h2>
          <ion-badge color="fire">Fire</ion-badge>
        </div>
      </ion-label>



      <ion-thumbnail slot="end">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/004.png">
      </ion-thumbnail>

    </ion-item>
    <ion-item-options side="end">
      <ion-item-option color="danger">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <!--Squirtle-->
  <ion-item-sliding>
    <ion-item color="dark">

      <ion-chip color="light" slot="start">
        <ion-label color="water">007</ion-label>
      </ion-chip>

     
      <ion-label>
        <div>
          <h2>Squirtle</h2>
          <ion-badge color="water">Water</ion-badge>
        </div>
      </ion-label>



      <ion-thumbnail slot="end">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/007.png">
      </ion-thumbnail>

    </ion-item>
    <ion-item-options side="end">
      <ion-item-option color="danger">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
    
<!--Butterfree -->
<ion-item-sliding>
  <ion-item color="dark">

    <ion-chip color="light" slot="start">
      <ion-label color="bug">012</ion-label>
    </ion-chip>

   
    <ion-label>
      <div>
        <h2>Butterfree</h2>
        <ion-badge color="bug">Bug</ion-badge>
        <ion-badge color="flying">Flying</ion-badge>
        
      </div>
    </ion-label>



    <ion-thumbnail slot="end">
      <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/012.png">
    </ion-thumbnail>

  </ion-item>
  <ion-item-options side="end">
    <ion-item-option color="danger">
      <ion-icon slot="icon-only" name="trash"></ion-icon>
    </ion-item-option>
  </ion-item-options>
</ion-item-sliding>

  <!--Pikachu-->
  <ion-item-sliding>
    <ion-item color="dark">

      <ion-chip color="light" slot="start">
        <ion-label color="eletric">025</ion-label>
      </ion-chip>

     
      <ion-label>
        <div>
          <h2>Pikachu</h2>
          <ion-badge color="eletric">Eletric</ion-badge>
        </div>
      </ion-label>



      <ion-thumbnail slot="end">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/025.png">
      </ion-thumbnail>

    </ion-item>
    <ion-item-options side="end">
      <ion-item-option color="danger">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <!--Oddish-->
  <ion-item-sliding>
    <ion-item color="dark">

      <ion-chip color="light" slot="start">
        <ion-label color="grass">043</ion-label>
      </ion-chip>

     
      <ion-label>
        <div>
          <h2>Oddish</h2>
          <ion-badge color="grass">Grass</ion-badge>
          <ion-badge color="poison">Poison</ion-badge>
        </div>
      </ion-label>



      <ion-thumbnail slot="end">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/043.png">
      </ion-thumbnail>

    </ion-item>
    <ion-item-options side="end">
      <ion-item-option color="danger">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <!--Poliwag-->
  <ion-item-sliding>
    <ion-item color="dark">

      <ion-chip color="light" slot="start">
        <ion-label color="water">060</ion-label>
      </ion-chip>

     
      <ion-label>
        <div>
          <h2>Poliwag</h2>
          <ion-badge color="water">Water</ion-badge>
          
        </div>
      </ion-label>



      <ion-thumbnail slot="end">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/060.png">
      </ion-thumbnail>

    </ion-item>
    <ion-item-options side="end">
      <ion-item-option color="danger">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <!--Horsea-->
  <ion-item-sliding>
    <ion-item color="dark">

      <ion-chip color="light" slot="start">
        <ion-label color="water">116</ion-label>
      </ion-chip>

     
      <ion-label>
        <div>
          <h2>Horsea</h2>
          <ion-badge color="water">Water</ion-badge>
          
        </div>
      </ion-label>



      <ion-thumbnail slot="end">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/116.png">
      </ion-thumbnail>

    </ion-item>
    <ion-item-options side="end">
      <ion-item-option color="danger">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <!--Eevee-->
  <ion-item-sliding>
    <ion-item color="dark">

      <ion-chip color="light" slot="start">
        <ion-label color="normal">133</ion-label>
      </ion-chip>

     
      <ion-label>
        <div>
          <h2>Eevee</h2>
          <ion-badge color="normal">Normal</ion-badge>
          
        </div>
      </ion-label>



      <ion-thumbnail slot="end">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/133.png">
      </ion-thumbnail>

    </ion-item>
    <ion-item-options side="end">
      <ion-item-option color="danger">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

    <!--Mew-->
    <ion-item-sliding>
      <ion-item color="dark">
  
        <ion-chip color="light" slot="start">
          <ion-label color="psychic">151</ion-label>
        </ion-chip>
  
       
        <ion-label>
          <div>
            <h2>Mew</h2>
            <ion-badge color="psychic">Psychic</ion-badge>
            
          </div>
        </ion-label>
  
  
  
        <ion-thumbnail slot="end">
          <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/151.png">
        </ion-thumbnail>
  
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="danger">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

     

    
</ion-content>
